<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Butterfree</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Butterfree</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/012.png">
    <div>
      <p>Butterfree &#40;em japonês: バタフリー Butterfree&#41; é um Pokémon do tipo Inseto e Voador introduzido na Geração
        I. Seu nome vem das palavras Butterfly &#40;Borboleta&#41; e free &#40;Livre&#41;.</p>
      <h1>Evolução</h1>
      <p>O Butterfree é a evolução final do Caterpie.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Fogo, voador, pedra, lutador, venenoso, fantasma e metálico.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Planta, psiquico, noturno e terrestre.</p>
      <h1>Curiosidade</h1>
      <p>Suas asas são cobertas por escamas tóxicas. Se encontrar Pokémon pássaro indo atrás de Caterpie, Butterfree
        espalha suas escamas neles para expulsá-los.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/metapod" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/weedle" slot="end"></ion-icon>
</ion-toolbar>