<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokémons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="/bulbassaur" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 01</ion-card-subtitle>
      <ion-card-title>Bulbassauro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Bulbassauro.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/ivysaur" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 02</ion-card-subtitle>
      <ion-card-title>Ivysaur</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Ivysaur.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/venusaur" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 03</ion-card-subtitle>
      <ion-card-title>Venusaur</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Venusaur.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/charmander" color="danger">
    <ion-card-header>
      <ion-card-subtitle>Numero: 04</ion-card-subtitle>
      <ion-card-title>Charmander</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Charmander.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/charmeleon" color="danger">
    <ion-card-header>
      <ion-card-subtitle>Numero: 05</ion-card-subtitle>
      <ion-card-title>Charmeleon</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Charmeleon.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/charizard" color="danger">
    <ion-card-header>
      <ion-card-subtitle>Numero: 06</ion-card-subtitle>
      <ion-card-title>Charizard</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Charizard.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/squirtle" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 07</ion-card-subtitle>
      <ion-card-title>Squirtle</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Squirtle.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/wartortle" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 08</ion-card-subtitle>
      <ion-card-title>Wartortle</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Wartortle.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/blastoise" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 09</ion-card-subtitle>
      <ion-card-title>Blastoise</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Blastoise.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/caterpie" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 10</ion-card-subtitle>
      <ion-card-title>Caterpie</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Caterpie.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/metapod" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 11</ion-card-subtitle>
      <ion-card-title>Metapod</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Metapod.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/butterfree" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 12</ion-card-subtitle>
      <ion-card-title>Butterfree</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Butterfree.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/weedle" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 13</ion-card-subtitle>
      <ion-card-title>Weedle</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Weedle.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/kakuna" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 14</ion-card-subtitle>
      <ion-card-title>Kakuna</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Kakuna.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/beedrill" color="success">
    <ion-card-header>
      <ion-card-subtitle>Numero: 15</ion-card-subtitle>
      <ion-card-title>Beedrill</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Beedrill.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/pidgey" color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 16</ion-card-subtitle>
      <ion-card-title>Pidgey</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Pidgey.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/pidgeotto" color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 17</ion-card-subtitle>
      <ion-card-title>Pidgeotto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Pidgeotto.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/pidgeot" color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 18</ion-card-subtitle>
      <ion-card-title>Pidgeot</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Pidgeot.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/ratata" color="medium">
    <ion-card-header>
      <ion-card-subtitle>Numero: 19</ion-card-subtitle>
      <ion-card-title>Rattata</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Rattata.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/raticate" color="medium">
    <ion-card-header>
      <ion-card-subtitle>Numero: 20</ion-card-subtitle>
      <ion-card-title>Raticate</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Raticate.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/spearow" color="secondary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 21</ion-card-subtitle>
      <ion-card-title>Spearow</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Spearow.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/fearows" color="secondary">
    <ion-card-header>
      <ion-card-subtitle>Numero: 22</ion-card-subtitle>
      <ion-card-title>Fearow</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Fearow.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/ekans" color="danger">
    <ion-card-header>
      <ion-card-subtitle>Numero: 23</ion-card-subtitle>
      <ion-card-title>Ekans</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Ekans.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/arbok" color="danger">
    <ion-card-header>
      <ion-card-subtitle>Numero: 24</ion-card-subtitle>
      <ion-card-title>Arbok</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Arbok.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/pikachu" color="warning">
    <ion-card-header>
      <ion-card-subtitle>Numero: 25</ion-card-subtitle>
      <ion-card-title>Pikachu</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique para obter mais informações sobre Pikachu.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" slot="start" routerLink="/home"></ion-icon>
</ion-toolbar>

