<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Venusaur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Venusaur</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/003.png">
    <p>Venusaur &#40;em japonês: フシギバナ Fushigibana&#41; é um Pokémon dos tipos planta e venenoso.
      Ele é a forma evoluída de Ivysaur quando chega no nível 32.</p>
    <h1>Evolução</h1>
    <p>É a evolução final do Bulbassauro, atingida quando o Ivysaur chega ao nível 32.</p>
    <h1>Desvantagens</h1>
    <p>Apresenta desvantagens contra Pokémons dos tipos: Fogo, psíquico, voador e gelo.</p>
    <h1>Vantagens</h1>
    <p>Possúi vantagem contra Pokémons dos tipos: Água, elétrico, fada e planta.</p>
    <h1>Curiosidades</h1>
    <p>Há uma flor grande nas costas de Venusaur. Diz-se que a flor adquire cores vivas se receber muita nutrição e luz solar. O aroma da flor acalma as emoções das pessoas.</p>
  </div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/ivysaur" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/charmander" slot="end"></ion-icon>
</ion-toolbar>
