<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <h1>Info</h1>
    <p>Esta aplicação foi feita no segundo bimestre da disciplina de Desenvolvimento de Aplicativos Móveis do Professor Adail Nogueira.</p>
    <h1>Sobre a Dev</h1>
    <p>Desenvolvido por Maria Fernanda Vaz, estudante do primeiro período de Ciência da Computação na Unifil.</p>
    <h1>Contato</h1>
    <p>Você pode me esncontrar nas redes sociais abaixo.</p>
    <ion-label>Instagram: @vaz_mf</ion-label>
    <br>
    <ion-label>Github: VazMF</ion-label>
  </div>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" routerLink="/pokemons" slot="start"></ion-icon>
</ion-toolbar>
