<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1>Info</h1>
    <p>Esta aplicação foi desenvolvida no segundo bimestre da disciplina de Desenvolvimento de Aplicativos Móveis do Professor Adail Nogueira.</p>
    <p><br></p>
    <h1>Sobre o DEV</h1>
    <p>Desenvolvido por: vaz_mf</p>
  </div>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" routerLink="/pokemons" slot="start"></ion-icon>
</ion-toolbar>
