<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pikachu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Pikachu</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
    <div>
      <p>Pikachu &#40;em japonês: ピカチュウ Pikachu&#41; é um pokémon do tipo elétrico. Pikachu é o Pokémon mais conhecidos
        da série, pois um deles era o protagonista do anime. Seu nome vem das palavras pika &#40;deriva da onomatopeia
        japonesa pikapika, que expressa um forte brilho&#41; e chu &#40;na língua japonesa, é o som que o rato faz&#41;.
      </p>
      <h1>Evolução</h1>
      <p>O Pikachu evolui para Raichu com a pedra do trovão.</p>
      <h1>Desvantagens</h1>
      <p>O Pikachu fica em desvantagens contra Pokémons dos tipos: Terrestre, planta e dragão.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Água e voador.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="warning">
  <ion-icon name="arrow-back" routerLink="/arbok" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/home" slot="end"></ion-icon>
</ion-toolbar>