<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fearow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Fearow</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/022.png">
    <div>
      <p>Fearow &#40;em japonês オニドリル Onidrill&#41; é um Pokémon do tipo normal e voador. Seu nome vem das palavras fear &#40;medo&#41; e sparrow &#40;pardal&#41;.</p>
      <h1>Evolução</h1>
      <p>É a forma evoluída e final de Spearow quando atinge o nível 22.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Elétrico, gelo, pedra e metálico.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Grama, lutador, inseto e terrestre.</p>
      <h1>Curiosidades</h1>
      <p>Transportar comida pelo território de Fearow é perigoso. Vai arrebatar a comida longe de você em um flash!</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="secondary">
  <ion-icon name="arrow-back" routerLink="/spearow" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/ekans" slot="end"></ion-icon>
</ion-toolbar>