<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pidgey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Pidgey</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/016.png">
    <div>
      <p>Pidgey &#40;em japonês: ポッポ Poppo&#41; é é um Pokémon do tipo Normal e Voador introduzido na Geração I. Seu
        nome podem vir das palavras Pideon &#40;pombo&#41; e o Y pode ser por indicar sua miniatura.</p>
      <h1>Evolução</h1>
      <p>Ele evolui para Pidgeotto no nível 17 e para Pidgeot no nível 18.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Elétrico, gelo, pedra e metálico.</p>
      <h1>Vantagens</h1>
      <p>Tem vantagens contra Pokémons dos tipos: Grama, lutador, inseto e terrestre.</p>
      <h1>Curiosidades</h1>
      <p>Pidgey tem um senso de direção extremamente nítido. Ela é capaz de voltar para o seu ninho de forma infalível,
        por mais longe que possa estar de seu ambiente familiar.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="tertiary">
  <ion-icon name="arrow-back" routerLink="/beedrill" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/pidgeotto" slot="end"></ion-icon>
</ion-toolbar>