<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Charmander</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Charmander</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
    <div>
      <p>Charmander &#40;em janponês ヒトカゲ Hitokage&#41; é um Pokémon do tipo Fogo que foi introduzido na Geração I. É um
        dos três pokémons iniciais de Kanto, junto com Squirtle e Bulbasaur. Seu nome vem das palavras Char
        &#40;queimar, carbonizar&#41; e salamander &#40;salamandra&#41;.</p>
      <h1>Evolução</h1>
      <p>Ele evolui para Charmeleon no nível 16 e depois para Charizard no nível 36.</p>
      <h1>Desvantagens</h1>
      <p>Possúi desvantagens contra Pokémons dos tipos: Água, terrestre, pedra e dragão.</p>
      <h1>Vantagens</h1>
      <p>Tem vantagem contra Pokémons dos tipos: Fogo, planta, gelo, inseto e metálico.</p>
      <h1>Curiosidades</h1>
      <p>A chama que queima na ponta da cauda é uma indicação de suas emoções. A chama tremula significa que Charmander
        está se divertindo. Se o Pokémon se enfurecer, a chama queima ferozmente.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" routerLink="/venusaur" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/charmeleon" slot="end"></ion-icon>
</ion-toolbar>