<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bulbassauro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="corpo">
  <h1>Bulbassauro</h1>
  <img src="https://vignette.wikia.nocookie.net/pokedex-br/images/a/a2/Bulbasauro_Pose.png/revision/latest/scale-to-width-down/340?cb=20151224122219&path-prefix=pt-br">
  <div>
    <p>Bulbasauro &#40;em japonês: フシギダネ Fushigidane &#41; é um Pokémon dos tipos Planta/Veneno introduzido na Geração I. Ele é um dos três Pokémon iniciantes da região de Kanto, assim com Charmander e Squirtle. Ele pode ser escolhido pelo jogador em Pokémon Red, Green, e Blue assim como em Pokémon FireRed e LeafGreen, seus remakes.</p>
    <h1>Evolução</h1>
    <p>Ele evolui para Ivysaur no nível 16 e para Venusaur no nível 32.</p>
    <h1>Desvantagens</h1>
    <p>O Bulbassauro fica em desvantagem com Pokémons dos tipos: Fogo, psíquico, voador e gelo.</p>
    <h1>Vantagens</h1>
    <p>Tem vantagem contra Pokémons dos tipos: Água, eltétrico, fada e planta.</p>
    <h1>Curiosidades</h1>
    <p>Bulbasauro pode ser visto cochilando sob a luz do sol. Há uma semente nas costas. Ao absorver os raios do sol, a semente cresce progressivamente maior.</p>
  </div>
</div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/pokemons" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/ivysaur" slot="end"></ion-icon> 
</ion-toolbar>
