<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pidgeotto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Pidgeotto</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/017.png">
    <div>
      <p>Pidgeotto &#40;em japonês ピジョン Pidgeon&#41; é um Pokémon dos tipos normal e voador.</p>
      <h1>Evolução</h1>
      <p>É a evolução do Pidgey quando chega ao nível 17. Evolui para Pidgeot ao atingir o nível 18.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Elétrico, gelo, pedra e metálico.</p>
      <h1>Vantagens</h1>
      <p>Tem vantagens contra Pokémons dos tipos: Grama, lutador, inseto e terrestre.</p>
      <h1>Curiosidades</h1>
      <p>Pidgeotto reivindica uma grande área como seu próprio território. Este Pokémon voa, patrulhando seu espaço de
        vida. Se seu território é violado, não mostra piedade de punir completamente o inimigo com suas garras afiadas.
      </p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="tertiary">
  <ion-icon name="arrow-back" routerLink="/pidgey" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/pidgeot" slot="end"></ion-icon>
</ion-toolbar>