<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pidgeot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Pidgeot</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/018.png">
    <div>
      <p>Pidgeot &#40;em japonês ピジョット Pidgeot&#41; é um Pokémon dos tipos normal e voador. Seu nome vem das palavras
        pidge &#40;pombo&#41; e geot que lembra a palavra jet &#40;jato&#41;.</p>
      <h1>Evolução</h1>
      <p>É a evolução final do Pidgey quando atinge o nível 18.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Elétrico, gelo, pedra e metálico.</p>
      <h1>Vantagens</h1>
      <p>Tem vantagens contra Pokémons dos tipos: Grama, lutador, inseto e terrestre.</p>
      <h1>Curiosidades</h1>
      <p>Este Pokémon tem uma plumagem deslumbrante de penas maravilhosamente brilhantes. Muitos treinadores são
        cativados pela impressionante beleza das penas em sua cabeça, obrigando-os a escolher Pidgeot como seu Pokémon.
      </p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="tertiary">
  <ion-icon name="arrow-back" routerLink="/pidgeotto" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/ratata" slot="end"></ion-icon>
</ion-toolbar>