<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Squirtle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Squirtle</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
    <div>
      <p>Squirtle &#40;em japonês: ゼニガメ Zenigame&#41; é um Pokémon do tipo água. é um dos três Pokémons iniciais de
        Kanto, assim como Bulbasaur e Charmander.</p>
      <h1>Evolução</h1>
      <p>Ele evolui para Wartortle no nível 16, que então evolui para Blastoise no nível 36.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Planta, elétrico e dragão.</p>
      <h1>Vantagens</h1>
      <p>Possúi vantagem contra Pokémons dos tipos: Fogo, gelo, água, metálico, terrestre e pedra.</p>
      <h1>Curiosidades</h1>
      <p>O casco de Squirtle não é apenas usado para proteção. A forma arredondada e as ranhuras na superfície ajudam a minimizar a resistência na água, permitindo que este Pokémon nade em alta velocidade</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="primary">
  <ion-icon name="arrow-back" routerLink="/charizard" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/wartortle" slot="end"></ion-icon>
</ion-toolbar>