<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Caterpie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Caterpie</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/010.png">
    <div>
      <p>Caterpie &#40;em japonês キャタピ Caterpie&#41; é um Pokémon do tipo Inseto introduzido na Geração I. Seu nome vem
        da palavra Caterpillar &#40;lagarta em inglês&#41;.
      </p>
      <h1>Evolução</h1>
      <p>Ele evolui para Metapod quando chega no nivel 7 e depois para Butterfree quando chega no nivel 10.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Fogo, voador, pedra, lutador, venenoso, fantasma e metálico.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Planta, psiquico, noturno e terrestre.</p>
      <h1>Curiosidade</h1>
      <p>Talvez porque gostaria de crescer rapidamente, tem um apetite voraz, comendo 100 folhas por dia</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/blastoise" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/metapod" slot="end"></ion-icon>
</ion-toolbar>