<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blastoise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Blastoise</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/009.png">
    <div>
      <p>Blastoise &#40;em japonês: カメックス Kamekkusu&#41; é um Pokémon do tipo água. Blastoise é o mascote da versão de
        Pokémon Blue.</p>
      <h1>Evolução</h1>
      <p>É a forma evoluída de Wartortle e forma final de Squirtle.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Planta, elétrico e dragão.</p>
      <h1>Vantagens</h1>
      <p>Possúi vantagem contra Pokémons dos tipos: Fogo, gelo, água, metálico, terrestre e pedra.</p>
      <h1>Curiosidades</h1>
      <p>Blastoise tem canhões de água se projetam de seu casco. Os canhões de água são muito precisos. Eles podem
        disparar balas de água com precisão suficiente para atingir latas vazias a uma distância de mais de 60 metros.
      </p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="primary">
  <ion-icon name="arrow-back" routerLink="/wartortle" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/caterpie" slot="end"></ion-icon>
</ion-toolbar>