<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wartortle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
  <h1>Wartortle</h1>
  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png">
  <div>
    <p>Wartortle &#40;em japonês: カメール Kameil&#41; é um Pokémon do tipo Água, apresentado na Geração I. Seu nome vem das palavras war &#40;guerra&#41; e tortle &#40;tartaruga&#41;.</p>
    <h1>Evolução</h1>
    <p>É a forma evoluída de Squirtle, evolui para Blastoise ao atingir o nível 36.</p>
    <h1>Desvantagens</h1>
    <p>Tem desvantagens contra Pokémons dos tipos: Planta, elétrico e dragão.</p>
    <h1>Vantagens</h1>
    <p>Possúi vantagem contra Pokémons dos tipos: Fogo, gelo, água,metálico, terrestre e pedra.</p>
    <h1>Curiosidades</h1>
    <p>Sua cauda é grande e coberta com um pelo rico e grosso. A cauda torna-se cada vez mais profunda na cor à medida que Wartortle envelhece. Os arranhões em seu casco são uma evidência da dureza deste Pokémon como um lutador.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="primary">
  <ion-icon name="arrow-back" routerLink="/squirtle" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/blastoise" slot="end"></ion-icon> 
</ion-toolbar>