<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Arbok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="corpo">
  <h1>Arbok</h1>
  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/024.png">
  <div>
    <p>Arbok &#40;em japonês アーボック Arbok&#41; é um Pokémon do tipo veneno. Seu nome é a palavra kobra lida de trás para frente.</p>
    <h1>Evolução</h1>
    <p>Ele evolui de Ekans no nível 22.</p>
    <h1>Desvantagens</h1>
    <p>Fica em desvantagem contra Pokémons dos tipos: Terrestre e psíquico.</p>
    <h1>Vantagens</h1>
    <p>Apresenta vantagens contra Pokémons dos tipos: Fada, planta, inseto e lutador.</p>
    <h1>Curiosidades</h1>
    <p>A pesquisa mais recente determinou que existem mais de 20 arranjos possíveis dos padrões no estômago deste Pokémon.</p>
  </div>
</div>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" routerLink="/ekans" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/pikachu" slot="end"></ion-icon> 
</ion-toolbar>
