<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Metapod</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Metapod</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/011.png">
    <div>
      <p>Metapod &#40;em japonês トランセル Tracell&#41; é um Pokémon do tipo Inseto introduzido na Geração I. Seu nome pode
        vir das palavras Metal &#40;metal&#41; e pod &#40;casulo em inglês&#41;.</p>
      <h1>Evolução</h1>
      <p>É a evolução de Caterpie. Evolui para Butterfree ao chegar no nível 10.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Fogo, voador, pedra, lutador, venenoso, fantasma e metálico.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Planta, psiquico, noturno e terrestre.</p>
      <h1>Curiosidades</h1>
      <p>Seu casulo é preenchido com um líquido espesso. Todas as células do corpo estão sendo reconstruídas em
        preparação para a evolução.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/caterpie" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/butterfree" slot="end"></ion-icon>
</ion-toolbar>