<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beedrill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="corpo">
  <h1>Beedrill</h1>
  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/015.png">
  <div>
    <p>Beedrill &#40;em japonês: スピアー Spear&#41; é um Pokémon dos tipos inseto e venenoso. Foi introduzido na Geração I. Seu nome vem das palavras bee &#40;abelha&#41; e drill &#40;broca&#41;.</p>
    <h1>Evolução</h1>
    <p>É a forma evoluída de Kakuna e a forma final de Weedle.</p>
    <h1>Desvantagens</h1>
    <p>Tem desvantagens contra Pokémons dos tipos: Fogo, voador, pedra, lutador, venenoso, fantasma e metálico.</p>
    <h1>Vantagens</h1>
    <p>Apresenta vantagens contra Pokémons dos tipos: Planta, psíquico, noturno e terrestre.</p>
    <h1>Curiosidades</h1>
    <p>Beedrill é extremamente territorial. Ninguém deve se aproximar de seu ninho - isso é para sua própria segurança. Se irritados, eles atacarão em um enxame furioso.</p>
  </div>
</div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/kakuna" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/pidgey" slot="end"></ion-icon> 
</ion-toolbar>
