<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Weedle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Weedle</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/013.png">
    <div>
      <p>Weedle &#40;em japonêsビードル Beedle &#41;é um Pokémon do tipo Inseto e Venenoso introduzido na Geração I. Seu
        nome vem das palavras Wee &#40;pequenino&#41; e needle &#40;agulha&#41;.</p>
      <h1>Evolução</h1>
      <p>Ele evolui para Kakuna quando chega no nivel 7 e depois para Beedrill quando chega no nivel 10.</p>
      <h1>Desvantagens</h1>
      <p>O Weedle tem desvantagem contra Pokémons dos tipos: Fogo, psíquico, voador e pedra.</p>
      <h1>Vantagens</h1>
      <p>Tem vantagem contra Pokémons dos tipos: Fada, planta, noturno, terrestre, lutador.</p>
      <h1>Curiosidades</h1>
      <p>Weedle tem um olfato extremamente aguçado. Ele é capaz de distinguir seus tipos favoritos de folhas daqueles de
        que não gosta, apenas farejando com seu nariz.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/butterfree" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/kakuna" slot="end"></ion-icon>
</ion-toolbar>