<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Raticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Raticate</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/020.png">
    <div>
      <p>Raticate &#40;em paponês: ラッタ Ratta&#41; é uma espécie de Pokémon do tipo normal, nativa da região de Kanto e
        classificada oficialmente como Mouse Pokémon.</p>
      <h1>Evolução</h1>
      <p>É a forma evoluída e final de Rattata.</p>
      <h1>Descantagens</h1>
      <p>Apresenta desvantagens contra Pokémons do tipo lutador.</p>
      <h1>Vantagens</h1>
      <p>Tem imunidade do contra Pokémons fantasmas.</p>
      <h1>Curiosidades</h1>
      <p>As pessoas dizem que ele fugiu de seus inimigos usando suas patas traseiras para nadar de ilha em ilha em
        Alola.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="medium">
  <ion-icon name="arrow-back" routerLink="/ratata" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/spearow" slot="end"></ion-icon>
</ion-toolbar>