<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Charmeleon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Charmeleon</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png">
    <div>
      <p>Charmeleon &#40;em Japonês: リザード Lizardo&#41; é um Pokémon do tipo Fogo. Introduzido na Geração I, só pode ser
        pego com o professor carvalho no inicio do jogo pokemon fire red. Seu nome vem das palavras Char &#40;queimar,
        carbonizar&#41; e chameleon &#40;camaleão&#41;.</p>
      <h1>Evolução</h1>
      <p>Ele é a evolução de Charmander que só evolui de chamander para charmeleon no nivel 16 e no nivel 36 para
        Charizard.</p>
      <h1>Desvantagem</h1>
      <p>Possúi desvantagens contra Pokémons dos tipos: Água, terrestre, pedra e dragão.</p>
      <h1>Vantagens</h1>
      <p>Tem vantagem contra Pokémons dos tipos: Fogo, planta, gelo, inseto e metálico.</p>
      <h1>Curiosidades</h1>
      <p>Charmeleon impiedosamente destrói seus inimigos usando suas garras afiadas. Se encontrar um inimigo forte, ele
        se torna agressivo. Nesse estado excitado, a chama na ponta de sua cauda brilha com uma cor branca azulada.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" routerLink="/charmander" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/charizard" slot="end"></ion-icon>
</ion-toolbar>