<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Spearow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Spearow</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/021.png">
    <div>
      <p>Spearow &#40;em japonês オニスズメ Onisuzume&#41; é um Pokémon dos tipos normal e voador. Seu nome vem das palvaras
        spear &#40;lança ou dardo&#41; e sparrow &#40;pardal&#41;.</p>
      <h1>Evolução</h1>
      <p>O Spearow evolui para Fearow ao atingir o nível 22.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Elétrico, gelo, pedra e metálico.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Grama, lutador, inseto e terrestre.</p>
      <h1>Curiosidades</h1>
      <p>Sua natureza imprudente leva a enfrentar outros - até mesmo grandes Pokémon - se tiver que proteger seu
        território.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="secondary">
  <ion-icon name="arrow-back" routerLink="/raticate" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/fearow" slot="end"></ion-icon>
</ion-toolbar>