<ion-header>
  <ion-toolbar color="success"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ivysaur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Ivysaur</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png">
    <p>Ivysaur é um Pokémon dos tipos Planta e Venenoso introduzido na Geração I. É a evolução de Bulbasaur.
      Seu nome vem das palavras Ivy &#40;hera, em inglês&#41; e dinosaur &#40;dinossauro, em inglês&#41;. Literalmente seu nome é Dinossauro Hera.
    </p>
    <h1>Evolução</h1>
    <p>Ele é a evolução do Bulbassauro quando chega ao nível 16, ao atingir o nível 32 evolui para Venusaur.</p>
    <h1>Desvantagens</h1>
    <p>Fica em desvantagem contra Pokémons dos tipos: Fogo, psíquico, voador e gelo.</p>
    <h1>Vantagens</h1>
    <p>Tem vantagem contra Pokémons dos tipos: Água, elétrico, fada e planta.</p>
    <h1>Curiosidades</h1>
    <p>Há um broto nas costas deste Pokémon. Para suportar seu peso, as pernas e o tronco de Ivysaur ficam grossos e fortes. Se começar a passar mais tempo deitado sob a luz do sol, é um sinal de que o broto florescerá em uma flor grande em breve.</p>
  </div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/bulbassaur" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/venusaur" slot="end"></ion-icon> 
</ion-toolbar>
