<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kakuna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Kakuna</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/014.png">
    <div>
      <p>Kakuna &#40;em japonês: コクーン Cocooné&#41; é um Pokémon do tipo Inseto e Venenoso introduzido na Geração I. Seu
        nome deriva da palavra inglesa cocoon, que significa casulo.</p>
      <h1>Evolução</h1>
      <p>É a forma evoluída de Weedle. Evolui para Beedrill quando chega no nível 10.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Fogo, voador, pedra, lutador, venenoso, fantasma e metálico.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Planta, psíquico, noturno e terrestre.</p>
      <h1>Curiosidades</h1>
      <p>Kakuna permanece praticamente imóvel enquanto se agarra a uma árvore. No entanto, por dentro, é extremamente
        ocupado, enquanto se prepara para a sua evolução futura. Isso é evidente pelo quão quente a concha fica ao
        toque.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="success">
  <ion-icon name="arrow-back" routerLink="/weedle" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/beedrill" slot="end"></ion-icon>
</ion-toolbar>