<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      My Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title size="large">My Pokédex</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="http://1.bp.blogspot.com/-0V4itR_v87M/UtsCF-ehNYI/AAAAAAAABjU/UEQ5Jiy_85o/s1600/pokedex-3d-logo.png">
    <strong>Pronto para começar sua<br>jornada Pokémon?</strong>
    <p><br></p>
    <p>Aqui você vai encontrar informações sobre os 25 primeiros<br>Pokémons da primeira geração!</p>
    <p><br></p>
    <ion-button color="danger" routerLink="/pokemons">Vamos lá!</ion-button>
  </div>
</ion-content>
<ion-toolbar color="danger">
</ion-toolbar>

