<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Charizard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Charizard</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png">
    <div>
      <p>Charizard &#40;em japonês: リザードン Lizardon&#41; é um Pokémon do tipo Fogo e Voador. Seu nome vem das palavras
        Char &#40;queimar, carbonizar&#41; e lizard &#40;lagarto&#41;.</p>
      <h1>Evolução</h1>
      <p>Ele é a forma evoluída de Charmeleon quando chega no nível 36. Ele tambem é a forma final de Charmander.</p>
      <h1>Desvantagens</h1>
      <p>Tem desvantagens contra Pokémons dos tipos: Água, terrestre, pedra e dragão.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Fogo, planta, gelo, inseto e metálico.</p>
      <h1>Curiosidades</h1>
      <p>Charizard voa pelo céu em busca de oponentes poderosos. Ele respira um calor tão grande que derrete qualquer
        coisa. No entanto, nunca dá um sopro ardente a qualquer oponente mais fraco que ele.</p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" routerLink="/charmeleon" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/squirtle" slot="end"></ion-icon>
</ion-toolbar>