<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ekans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <h1>Ekans</h1>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/023.png">
    <div>
      <p>Ekans &#40;em japonês アーボ Arbo&#41;é um Pokémon do tipo Venenoso introduzido na Geração I. Seu nome é a palavra
        Snake ao contrário.</p>
      <h1>Desvantagens</h1>
      <p>Fica em desvantagem contra Pokémons dos tipos: Terrestre e psíquico.</p>
      <h1>Vantagens</h1>
      <p>Apresenta vantagens contra Pokémons dos tipos: Fada, planta, inseto e lutador.</p>
      <h1>Curiosidades</h1>
      <p>Deslocando sua mandíbula, ele pode engolir presas maiores que ele. Após uma refeição, ela se enrola e descansa.
      </p>
    </div>
  </div>
</ion-content>
<ion-toolbar color="danger">
  <ion-icon name="arrow-back" routerLink="/fearow" slot="start"></ion-icon>
  <ion-icon name="arrow-forward" routerLink="/arbok" slot="end"></ion-icon>
</ion-toolbar>